
body {
  font-family: Arial, Helvetica, sans-serif
  ;
  background-color: black;
  color: white;
}

.move-img {
  height: 80px;
}

#rock, #paper, #scissors {
  background-color: transparent;
  margin-right: 30px;
  border: 3px solid white;
  border-radius: 60px;
  height: 125px;
  width: 125px;
  cursor: pointer;
}

.result-text {
  font-weight: bold;
  font-size: 24px;
}

.reset-score-button,
.auto-play-button {
  border: none;
  background-color: green;
  color: whitesmoke;
  height: 50px;
  width: 150px;
  font-size: 20px;
  cursor: pointer;
} 

